openapi: 3.0.1
info:
  title: hyp3-api
  version: 0.0.1
servers:
  - url: https://hyp3-develop-api.asf.alaska.edu/{basePath}
    variables:
      basePath:
        default: /v1
paths:
  /jobs:
    post:
      operationId: app.submit_job
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/parameters"
        required: true
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job"
components:
  schemas:
    job:
      required:
        - jobId
        - jobName
        - parameters
      type: object
      properties:
        jobId:
          type: string
        jobName:
          type: string
        parameters:
          $ref: "#/components/schemas/parameters"
      additionalProperties: false
    parameters:
      type: object
      required:
        - granule
      properties:
        granule:
          type: string
      additionalProperties: false
