openapi: 3.0.1
info:
  title: hyp3-api
  version: 0.0.1
paths:
  /jobs:
    post:
      operationId: hyp3_api.submit_job
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/parameters"
        required: true
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job"
components:
  schemas:
    job:
      type: object
      properties:
        jobId:
          type: string
        jobName:
          type: string
        parameters:
          $ref: "#/components/schemas/parameters"
      required:
        - jobId
        - jobName
        - parameters
      additionalProperties: false
    parameters:
      type: object
      properties:
        granule:
          type: string
      required:
        - granule
      additionalProperties: false
